.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-button-row {
  margin-top: 10px;
}

h2 {
  text-align: center;
  color: #20002c;

}

input[type=file] {
  visibility: hidden;
}

.image-preview img {
  width: 150px;
}
