<h2 *ngIf="mode === 'create'">Create New Post</h2>
<h2 *ngIf="mode === 'edit'">Edit Post</h2>

<mat-card>
  <form [formGroup]="form" (submit)="onSavePost()">

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Post Title"
        formControlName="title"
      >
      <mat-error *ngIf="form.get('title').invalid">Please enter a proper title.</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea
        matInput
        placeholder="Post Content"
        formControlName="content"
        cols="30"
        rows="10"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a proper content.</mat-error>
    </mat-form-field>

    <div>
      <button (click)="filePicker.click()" type="button" mat-stroked-button>
        <i class="fas fa-file-upload"></i>
        Upload Image
      </button>
      <input (change)="onUploadImage($event)" type="file" #filePicker>
      <div *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid" class="image-preview">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
    </div>

    <div class="example-button-row">
      <button *ngIf="mode === 'create'" type="submit" mat-raised-button color="primary">Add Post</button>
      <button *ngIf="mode === 'edit'" type="submit" mat-raised-button color="primary">Edit Post</button>
    </div>

  </form>
</mat-card>
